$default-font: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif !default;

$base-serif-font: $default-font;
$base-sans-font: $default-font;
$heading-font-family: $default-font;

$heading-font-weight: 600;

$max-wrap: 1280px;

$base-animation: cubic-bezier(0.4, 0.01, 0.165, 0.99);

$base-font-color: #024958;
$link-color: #4aa4ff;
$base-font-size: 1rem;
$base-padding: 1rem;
$base-line-height: 1.6;

$font-calculation: calc( 12px + 8 * ((100vw - 500px) / 1500));
$mobile-font-calculation: calc( 16px + 8 * ((100vw - 500px) / 1500));
$margin-calculation: calc( 30px + 8 * ((100vw - 500px) / 1500));
$margin-mobile-calculation: calc( 15px + 8 * ((100vw - 500px) / 1500));

$base-border-radius: 8px;
$gr: 1.610833;

$grid: 1;

$spacing-gutter: 1.1rem;
$spacing-gutter-xs: 1.7rem;
$spacing-gutter-mdl: 4.5rem;

//
// Media Queries & Breakpoints
//

$logo--mob-height: 42px;
$logo--mob-width: 135px;
$logo--dsk-height: 50px;
$logo--dsk-width: 150px;

$max-width: (xs: 480px, xsm: 640px, sm: 768px, smd: 834px, md: 992px, mdl: 1110px, lg: 1200px, xl: 1640px);

// Extra small screen / phone
$screen-xs: map-get($max-width, xs) !default;

$screen-xsm: map-get($max-width, xsm) !default;

// Small screen / tablet
$screen-sm: map-get($max-width, sm) !default;

// Small screen / tablet
$screen-smd: map-get($max-width, smd) !default;

// Medium screen / desktop
$screen-md: map-get($max-width, md) !default;

$screen-mdl: map-get($max-width, mdl) !default;

// Large screen / wide desktop
$screen-lg: map-get($max-width, lg) !default;

// Monster Screen
$screen-xl: map-get($max-width, xl) !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: $screen-xs - 1 !default;
$screen-xsm-max: $screen-xsm - 1 !default;
$screen-sm-max: $screen-sm - 1 !default;
$screen-smd-max: $screen-smd - 1 !default;
$screen-md-max: $screen-md - 1 !default;
$screen-mdl-max: $screen-mdl - 1 !default;
$screen-lg-max: $screen-lg - 1 !default;

$max-xs: new-breakpoint(max-width $screen-xs-max 12);
$max-xsm: new-breakpoint(max-width $screen-xsm-max 12);
$max-sm: new-breakpoint(max-width $screen-sm-max 12);
$max-smd: new-breakpoint(max-width $screen-smd-max 12);
$max-md: new-breakpoint(max-width $screen-md-max 6);
$max-mdl: new-breakpoint(max-width $screen-mdl-max 6);
$max-lg: new-breakpoint(max-width $screen-lg-max 6);