$doublegutter: $grid * 3;

// this variable is in variables
.flex--double {
    @include media($screen-smd) {
        .grid--smd-one {
            flex-basis: 100%;
            width: 100%;
        }

        .grid--smd-four-fifths {
            flex-basis: calc(100% / 1.25 - (.2em * #{$doublegutter}));
            width: calc(100% / 1.25 - (.2em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  1.25);
                width: calc(100% /  1.25);
            }
        }

        .grid--smd-three-fourths {
            flex-basis: calc(75% - (.25em * #{$doublegutter}));
            width: calc(75% - (.25em * #{$doublegutter}));

            &.nog {
                flex-basis: 75%;
                width: 75%;
            }
        }

        .grid--smd-two-thirds {
            flex-basis: calc(100% / 1.5 - (.3333333em * #{$doublegutter}));
            width: calc(100% / 1.5 - (.3333333em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 1.5);
                width: calc(100% / 1.5);
            }
        }

        .grid--smd-half {
            flex-basis: calc(100% / 2 - (.5em * #{$doublegutter}));
            width: calc(100% / 2 - (.5em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 2);
                width: calc(100% / 2);
            }
        }

        .grid--smd-three-fifths {
            flex-basis: calc(100% / 1.666666 - (.4em * #{$doublegutter}));
            width: calc(100% / 1.666666 - (.4em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  1.666666);
                width: calc(100% /  1.666666);
            }
        }

        .grid--smd-two-fifths {
            flex-basis: calc(100% / 2.5 - (.6em * #{$doublegutter}));
            width: calc(100% / 2.5 - (.6em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  2.5);
                width: calc(100% /  2.5);
            }
        }

        .grid--smd-third {
            flex-basis: calc(100% / 3 - (.6666666em * #{$doublegutter}));
            width: calc(100% / 3 - (.6666666em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 3);
                width: calc(100% / 3);
            }
        }

        .grid--smd-fourth {
            flex-basis: calc(100% / 4 - (.75em * #{$doublegutter}));
            width: calc(100% / 4 - (.75em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 4);
                width: calc(100% / 4);
            }
        }

        .grid--smd-fifth {
            flex-basis: calc(100% / 5 - (.8em * #{$doublegutter}));
            width: calc(100% / 5 - (.8em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 5);
                width: calc(100% / 5);
            }
        }

        .grid--smd-sixth {
            flex-basis: calc(100% / 6 - (.85em * #{$doublegutter}));
            width: calc(100% / 6 - (.85em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 6);
                width: calc(100% / 6);
            }
        }

        .grid--smd-seventh {
            flex-basis: calc(100% / 7 - (.875em * #{$doublegutter}));
            width: calc(100% / 7 - (.875em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 7);
                width: calc(100% / 7);
            }
        }

        .grid--smd-eighth {
            flex-basis: calc(100% / 8 - (.875em * #{$doublegutter}));
            width: calc(100% / 8 - (.875em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 8);
                width: calc(100% / 8);
            }
        }

        .grid--smd-ninth {
            flex-basis: calc(100% / 9 - (.55em * #{$doublegutter}));
            width: calc(100% / 9 - (.55em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 9);
                width: calc(100% / 9);
            }
        }

        .grid--smd-tenth {
            flex-basis: calc(100% / 10 - (.55em * #{$doublegutter}));
            width: calc(100% / 10 - (.55em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 10);
                width: calc(100% / 10);
            }
        }
    }


    @include media($screen-md) {
        .grid--md-one {
            flex-basis: 100%;
            width: 100%;
        }

        .grid--md-four-fifths {
            flex-basis: calc(100% / 1.25 - (.2em * #{$doublegutter}));
            width: calc(100% / 1.25 - (.2em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  1.25);
                width: calc(100% /  1.25);
            }
        }

        .grid--md-three-fourths {
            flex-basis: calc(75% - (.25em * #{$doublegutter}));
            width: calc(75% - (.25em * #{$doublegutter}));

            &.nog {
                flex-basis: 75%;
                width: 75%;
            }
        }

        .grid--md-two-thirds {
            flex-basis: calc(100% / 1.5 - (.3333333em * #{$doublegutter}));
            width: calc(100% / 1.5 - (.3333333em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 1.5);
                width: calc(100% / 1.5);
            }
        }

        .grid--md-three-fifths {
            flex-basis: calc(100% / 1.666666 - (.4em * #{$doublegutter}));
            width: calc(100% / 1.666666 - (.4em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  1.666666);
                width: calc(100% /  1.666666);
            }
        }

        .grid--md-half {
            flex-basis: calc(100% / 2 - (.5em * #{$doublegutter}));
            width: calc(100% / 2 - (.5em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 2);
                width: calc(100% / 2);
            }
        }

        .grid--md-two-fifths {
            flex-basis: calc(100% / 2.5 - (.6em * #{$doublegutter}));
            width: calc(100% / 2.5 - (.6em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  2.5);
                width: calc(100% /  2.5);
            }
        }

        .grid--md-third {
            flex-basis: calc(100% / 3 - (.6666666em * #{$doublegutter}));
            width: calc(100% / 3 - (.6666666em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 3);
                width: calc(100% / 3);
            }
        }

        .grid--md-fourth {
            flex-basis: calc(100% / 4 - (.75em * #{$doublegutter}));
            width: calc(100% / 4 - (.75em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 4);
                width: calc(100% / 4);
            }
        }

        .grid--md-fifth {
            flex-basis: calc(100% / 5 - (.8em * #{$doublegutter}));
            width: calc(100% / 5 - (.8em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 5);
                width: calc(100% / 5);
            }
        }

        .grid--md-sixth {
            flex-basis: calc(100% / 6 - (.85em * #{$doublegutter}));
            width: calc(100% / 6 - (.85em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 6);
                width: calc(100% / 6);
            }
        }

        .grid--md-seventh {
            flex-basis: calc(100% / 7 - (.875em * #{$doublegutter}));
            width: calc(100% / 7 - (.875em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 7);
                width: calc(100% / 7);
            }
        }

        .grid--md-eighth {
            flex-basis: calc(100% / 8 - (.875em * #{$doublegutter}));
            width: calc(100% / 8 - (.875em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 8);
                width: calc(100% / 8);
            }
        }

        .grid--md-ninth {
            flex-basis: calc(100% / 9 - (.55em * #{$doublegutter}));
            width: calc(100% / 9 - (.55em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 9);
                width: calc(100% / 9);
            }
        }

        .grid--md-tenth {
            flex-basis: calc(100% / 10 - (.55em * #{$doublegutter}));
            width: calc(100% / 10 - (.55em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 10);
                width: calc(100% / 10);
            }
        }
    }


    @include media($screen-mdl) {
        .grid--mdl-one {
            flex-basis: 100%;
            width: 100%;
        }

        .grid--mdl-four-fifths {
            flex-basis: calc(100% / 1.25 - (.2em * #{$doublegutter}));
            width: calc(100% / 1.25 - (.2em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  1.25);
                width: calc(100% /  1.25);
            }
        }

        .grid--mdl-three-fourths {
            flex-basis: calc(75% - (.25em * #{$doublegutter}));
            width: calc(75% - (.25em * #{$doublegutter}));

            &.nog {
                flex-basis: 75%;
                width: 75%;
            }
        }

        .grid--mdl-two-thirds {
            flex-basis: calc(100% / 1.5 - (.3333333em * #{$doublegutter}));
            width: calc(100% / 1.5 - (.3333333em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 1.5);
                width: calc(100% / 1.5);
            }
        }

        .grid--mdl-three-fifths {
            flex-basis: calc(100% / 1.666666 - (.4em * #{$doublegutter}));
            width: calc(100% / 1.666666 - (.4em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  1.666666);
                width: calc(100% /  1.666666);
            }
        }

        .grid--mdl-half {
            flex-basis: calc(100% / 2 - (.5em * #{$doublegutter}));
            width: calc(100% / 2 - (.5em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 2);
                width: calc(100% / 2);
            }
        }

        .grid--mdl-two-fifths {
            flex-basis: calc(100% / 2.5 - (.6em * #{$doublegutter}));
            width: calc(100% / 2.5 - (.6em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  2.5);
                width: calc(100% /  2.5);
            }
        }

        .grid--mdl-third {
            flex-basis: calc(100% / 3 - (.6666666em * #{$doublegutter}));
            width: calc(100% / 3 - (.6666666em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 3);
                width: calc(100% / 3);
            }
        }

        .grid--mdl-fourth {
            flex-basis: calc(100% / 4 - (.75em * #{$doublegutter}));
            width: calc(100% / 4 - (.75em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 4);
                width: calc(100% / 4);
            }
        }

        .grid--mdl-fifth {
            flex-basis: calc(100% / 5 - (.8em * #{$doublegutter}));
            width: calc(100% / 5 - (.8em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 5);
                width: calc(100% / 5);
            }
        }

        .grid--mdl-sixth {
            flex-basis: calc(100% / 6 - (.85em * #{$doublegutter}));
            width: calc(100% / 6 - (.85em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 6);
                width: calc(100% / 6);
            }
        }

        .grid--mdl-ninth {
            flex-basis: calc(100% / 9 - (.55em * #{$doublegutter}));
            width: calc(100% / 9 - (.55em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 9);
                width: calc(100% / 9);
            }
        }

        .grid--mdl-tenth {
            flex-basis: calc(100% / 10 - (.55em * #{$doublegutter}));
            width: calc(100% / 10 - (.55em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 10);
                width: calc(100% / 10);
            }
        }
    }


    @include media($screen-lg) {
        .grid--lg-one {
            flex-basis: 100%;
            width: 100%;
        }

        .grid--lg-four-fifths {
            flex-basis: calc(100% / 1.25 - (.2em * #{$doublegutter}));
            width: calc(100% / 1.25 - (.2em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  1.25);
                width: calc(100% /  1.25);
            }
        }

        .grid--lg-three-fourths {
            flex-basis: calc(75% - (.25em * #{$doublegutter}));
            width: calc(75% - (.25em * #{$doublegutter}));

            &.nog {
                flex-basis: 75%;
                width: 75%;
            }
        }

        .grid--lg-two-thirds {
            flex-basis: calc(100% / 1.5 - (.3333333em * #{$doublegutter}));
            width: calc(100% / 1.5 - (.3333333em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 1.5);
                width: calc(100% / 1.5);
            }
        }

        .grid--lg-three-fifths {
            flex-basis: calc(100% / 1.666666 - (.4em * #{$doublegutter}));
            width: calc(100% / 1.666666 - (.4em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  1.666666);
                width: calc(100% /  1.666666);
            }
        }

        .grid--lg-half {
            flex-basis: calc(100% / 2 - (.5em * #{$doublegutter}));
            width: calc(100% / 2 - (.5em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 2);
                width: calc(100% / 2);
            }
        }

        .grid--lg-two-fifths {
            flex-basis: calc(100% / 2.5 - (.6em * #{$doublegutter}));
            width: calc(100% / 2.5 - (.6em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% /  2.5);
                width: calc(100% /  2.5);
            }
        }

        .grid--lg-third {
            flex-basis: calc(100% / 3 - (.6666666em * #{$doublegutter}));
            width: calc(100% / 3 - (.6666666em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 3);
                width: calc(100% / 3);
            }
        }

        .grid--lg-fourth {
            flex-basis: calc(100% / 4 - (.75em * #{$doublegutter}));
            width: calc(100% / 4 - (.75em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 4);
                width: calc(100% / 4);
            }
        }

        .grid--lg-fifth {
            flex-basis: calc(100% / 5 - (.8em * #{$doublegutter}));
            width: calc(100% / 5 - (.8em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 5);
                width: calc(100% / 5);
            }
        }

        .grid--lg-sixth {
            flex-basis: calc(100% / 6 - (.85em * #{$doublegutter}));
            width: calc(100% / 6 - (.85em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 6);
                width: calc(100% / 6);
            }
        }

        .grid--lg-seventh {
            flex-basis: calc(100% / 7 - (.875em * #{$doublegutter}));
            width: calc(100% / 7 - (.875em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 7);
                width: calc(100% / 7);
            }
        }

        .grid--lg-eighth {
            flex-basis: calc(100% / 8 - (.875em * #{$doublegutter}));
            width: calc(100% / 8 - (.875em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 8);
                width: calc(100% / 8);
            }
        }

        .grid--lg-ninth {
            flex-basis: calc(100% / 9 - (.55em * #{$doublegutter}));
            width: calc(100% / 9 - (.55em * #{$doublegutter}));

            &.nog {
                flex-basis: calc(100% / 9);
                width: calc(100% / 9);
            }
        }
    }
}