body {
    overflow-x: hidden;
}

main {
    @include row;
}

.outer {
    @include pad(1em);

    @include media($screen-sm) {
        @include pad(1.6em 1em 1em 1em);

        @include span-columns(11 of 12);

        @include shift(0.5);

        p, ul, ol {
            padding-right: 15%;
        }
    }


    @include media($screen-md) {
        @include span-columns(10 of 12);

        @include shift(1);

        p, ul, ol {
            padding-right: 18%;
        }
    }


    @include media($screen-lg) {
        @include span-columns(8 of 12);

        @include shift(2);

        p, ul, ol {
            padding-right: 20%;
        }
    }
}

img {
    max-width: 100%;
}

.site-header {
    @include row;

    h2 {
        margin-bottom: 0;

        // color: map-get($blue, links);
   
    }

    .outer {
        padding-top: 2em !important;
        padding-bottom: 0em !important;
    }
}

.row {
    @include row;
}