// main.docs {
//     @include row;
//     background-color: #F5F6F6;
// }
body {
    overflow-x: hidden;
}

// .projects {
//     .outer {
//         @include media(max-width $screen-sm-width) {
//             h4 {
//                 margin-top: 0.4em;
//                 margin-bottom: 0;
//             }
//         }
//         @include media(max-width $screen-xs-width) {
//             padding-bottom: 4em;
//         }
//     }
// }
main {
    @include row;
}

.outer {
    @include pad(1em);

    @include media($screen-md) {
        @include pad(2em 1em 1em 1em);

        @include span-columns(8 of 12);

        @include shift(2);

        p, ul, ol {
            padding-right: 20%;
        }
    }
}

img {
    max-width: 100%;
}

.site-header {
    @include row;

    .outer {
        padding-top: 2em !important;
    }
}
.row{
@include row;
}