body {
    font-family: $body-sans-font;
    line-height: 1.6;
    font-size: $base-font-size;

    @include media($screen-sm-max) {
        font-size: $base-font-size * 0.9;
    }


    color: $base-font-color;
}

%headings {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;

    &.section-title {
        line-height: 2.5;
    }
}

h1, h2, h3, h4, h5, h6 {
    @extend %headings;
}

h1, h2 {
    line-height: 1;
    letter-spacing: -0.025em;
    margin-bottom: .55rem;
    word-spacing: -0.03em;
}

h3, h4 {
    line-height: 1.4;
    letter-spacing: -0.025em;
}

// mobile
h1 {
    font-size: 2 * $base-font-size;
}

h2 {
    font-size: 1.5 * $base-font-size;
}

h3 {
    font-size: 1.3 * $base-font-size;
}

h4 {
    font-size: 1 * $base-font-size;
}

h5 {
    font-size: 1 * $base-font-size;
}

@include media($screen-sm) {
    h1 {
        font-size: 2.2 * $base-font-size;
    }

    h2 {
        font-size: 1.7 * $base-font-size;
    }

    h3 {
        font-size: 1.5 * $base-font-size;
    }

    h4 {
        font-size: 1.3 * $base-font-size;
    }

    h5 {
        font-size: 1 * $base-font-size;
    }
}


@include media($screen-md) {
    h1 {
        font-size: 2.5 * $base-font-size;
    }

    h2 {
        font-size: 2 * $base-font-size;
    }

    h3 {
        font-size: 1.5 * $base-font-size;
    }

    h4 {
        font-size: 1.3 * $base-font-size;
    }

    h5 {
        font-size: 1 * $base-font-size;
    }
}


@include media($screen-lg) {
    h1 {
        font-size: 4 * $base-font-size;
        margin-bottom: 1.55555rem;
    }

    h2 {
        font-size: 2.5 * $base-font-size;
    }

    h3 {
        font-size: 2 * $base-font-size;
    }

    h4 {
        font-size: 1.8 * $base-font-size;
    }

    h5 {
        font-size: 1.3 * $base-font-size;
    }
}


a {
    color: $link-colors;
    text-decoration: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: 900;
}

ol, ul, p {
    margin-bottom: 1.55556rem;
    margin-top: 0;
}

ul {
    list-style-type: square;

    li {
        margin-left: 1.5em;
    }
}

ol {
    list-style: decimal;
}

.center {
    text-align: center;
}

code {
    background: map-get($blue, main);
    border-radius: 3px;
    color: white;

    @include pad(0.1em 0.4em 0.2em 0.4em);

    font-size: 1.2rem;
}

hr {
    border: 0;
    border-top: $base-border;
    margin: 3em 0;
}