body {
    font-family: $body-sans-font;
    line-height: 1.6;
    font-size: $base-font-size;

    @include media($screen-sm-max) {
        font-size: $base-font-size * 0.9;
    }


    color: $base-font-color;
}

%headings {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;

    &.section-title {
        line-height: 2.5;
    }
}

h1, h2, h3, h4, h5, h6 {
    @extend %headings;
}

h1, h2 {
    line-height: 1;
    letter-spacing: -0.025em;
    margin-bottom: 1.55rem;
    word-spacing: -0.03em;
}

h3, h4 {
    line-height: 1.4;
    letter-spacing: -0.025em;
}

// mobile
h1 {
    font-size: 2 * $base-font-size;
}

h2 {
    font-size: 1.5 * $base-font-size;
}

h3 {
    font-size: 1.3 * $base-font-size;
}

h4 {
    font-size: 1 * $base-font-size;
}

h5 {
    font-size: 1 * $base-font-size;
}

@include media($screen-sm) {
    h1 {
        font-size: 2.2 * $base-font-size;
    }

    h2 {
        font-size: 1.7 * $base-font-size;
    }

    h3 {
        font-size: 1.5 * $base-font-size;
    }

    h4 {
        font-size: 1.3 * $base-font-size;
    }

    h5 {
        font-size: 1 * $base-font-size;
    }
}


@include media($screen-md) {
    h1 {
        font-size: 2.5 * $base-font-size;
    }

    h2 {
        font-size: 2 * $base-font-size;
    }

    h3 {
        font-size: 1.5 * $base-font-size;
    }

    h4 {
        font-size: 1.3 * $base-font-size;
    }

    h5 {
        font-size: 1 * $base-font-size;
    }
}


@include media($screen-lg) {
    h1 {
        font-size: 4 * $base-font-size;
        margin-bottom: 1.55555rem;
    }

    h2 {
        font-size: 2.5 * $base-font-size;
    }

    h3 {
        font-size: 2 * $base-font-size;
    }

    h4 {
        font-size: 1.8 * $base-font-size;
    }

    h5 {
        font-size: 1.3 * $base-font-size;
    }
}


em, i, address, blockquote, cite, dfn, var {
    font-style: italic;
}

strong, b {
    font-weight: 900;
}

// `margin-bottom` to maintain vertical rhythm
p, blockquote, pre, ul, ol, dl, dir, figure, article, menu, div, %vertical-rhythm {
    margin-bottom: $spacing-unit;
}

a {
    color: $base-link-color;
}

code, kbd, samp, tt {
    font-family: monospace;
}

code {
    background-color: map-get($gray, code);
    color: map-get($gray, codeWord);

    @include pad(0.15625em 0.3125em);

    tab-size: 4;
    text-shadow: 0 .08em #fff;
    white-space: pre-line;
    border-radius: $base-border-radius;
}

blockquote {
    @include pad(1em 2em);

    border-radius: $base-border-radius;
    background-color: map-get($gray, dark);
    color: white;
    letter-spacing: .75px;

    a {
        color: lighten($base-link-color, 20%);
        text-decoration: none;
    }
    ul{
        margin-bottom: $small-spacing / 2;
    }
    p {
        margin: 0;
    }
}

small, sub, sup {
    font-size: $base-font-size * 0.8;

    @include media($screen-sm-max) {
        font-size: $base-font-size * 0.6;
    }
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

mark {}

hr {
    border: 0;
    border-top: $base-border;
    margin: $spacing-unit 0;
}

.center {
    text-align: center;
}