<footer>
<a href="http://joshre.com">joshre.com</a>
</footer>
<script src='{{ "/js/jquery-3.2.1.slim.min.js" | prepend: site.baseurl }}' type='text/javascript'></script>
<script src='{{ "/js/bigfoot.min.js" | prepend: site.baseurl }}' type='text/javascript'></script>
<!-- <script src='{{ "/js/transition.min.js" | prepend: site.baseurl }}' type='text/javascript'></script> -->
<!-- <script src='{{ "/js/zoom.min.js" | prepend: site.baseurl }}' type='text/javascript'></script> -->
<script src='{{ "/js/site.js" | prepend: site.baseurl }}' type='text/javascript'></script>
{% include bigfoot.html %}