{% if page.layout != 'been-making' %}
	<header class="site-header break">
		<div class="outer">
			<a href="/" class="font--no-deco"><h2 class="mar-top--no">Josh Reeder-Esparza</h2></a>
		</div>
	</header>
{% else %}
	{% assign shareHeader = (site.share | where: "home", "true" | where:  "image", "true" ) | first %}
	<header class="site-header break {% if shareHeader %}been-making{% endif %}" style="background-image:url('{{shareHeader.imageUrl}}');">
	<div class="outer">
		<a href="/" class="font--no-deco"><h2 class="mar-top--no mar-bot--2">Josh Reeder-Esparza</h2></a>
		{% if shareHeader %}
		</div>
	</header>
	<section class="making-header">
		<div class="outer">
			<strong>
			<a class="color--text" href="{{shareHeader.link}}">{{shareHeader.title}}</a>
			</strong>
			<span>{{shareHeader.tags}}</span>
		{% endif %}
	</div>
</section>
{% endif %}