{% if page.layout != 'been-making' %}
	<header class="site-header break">
		<div class="outer">
			<a href="{{site.url}}" class="font--no-deco"><h2 class="mar-top--no">Josh Reeder-Esparza</h2></a>
		</div>
	</header>
{% else %}
	<header class="site-header break making-header">
	<div class="outer">
		<a href="{{site.url}}" class="font--no-deco"><h2 class="mar-no">Josh Reeder-Esparza</h2></a>
	</div>
</header>
<!-- <section class="making-header">
	<div class="outer">
		If you're looking for a homepage, <a href="{{site.url}}">thats here.</a>
		{% if shareHeader %}
			<strong>
			<a class="color--text" href="{{shareHeader.url}}">{{shareHeader.title}}</a>
			</strong>
			<span class="emoji-tags">{{shareHeader.tags}}</span>
		{% endif %}
	</div>
</section> -->
{% endif %}