// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------

// $gray: (
// 	faded: 			#000000,
// 	main: 			#83A8BC,
// 	dark: 			#5F7687
// );
$blue: (
	main:	#83A8BC,
	dark:	#5F7687,
	links:	#429EBF
);

// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (
	twitter: 		#78cdf0,
	facebook: 		#537bbd,
	instagram: 		#517fa4,
	youtube: 		#d34836,
	snapchat: 		#fffc00,
	pinterest:		#cb2027,
	google: 		#dd4b39
)