---
layout: default
---
<article class="mar-top--2">
	<section>
		<div class="project-grid bg--gray-lightest">
			<div class="outer">
				<!-- 	{% if page.categories %}<span class="sup-title">{% for category in page.categories %}
					<span>{{category}}</span>{% if forloop.last == false and forloop.length > 1 %}, {% endif %}{% endfor %}</span><br>{% endif %} -->
					<h4 class="mar-top--no header">{{page.title}}</h4>
					<div class="row">
						<div class="color--gray-light features">
							{% for feature in page.features %}<span>{{ feature }}</span>{% endfor %}
						</div>
					</div>
					{% if page.siteurl  %}<a class="site-cta" href="{{page.siteurl}}">View Site</a>{% endif %}
				</div>
			</div>
		</section>
		<section>
			<div class="outer">
				{{content}}
			</div>
		</section>
		{% if page.offsetimage %}
			<div class="bg-blue screenshot--feature">
	<div class="screenshot--feature-text">
		<h3>{{project.offsettitle}}</h3>
		<p class="mar-bot-desk--4">{{project.offsetdetail}}</p>
	</div>
	<img class="screenshot--feature-image" src="{{project.offsetimage}}">
</div>
		{% endif %}
		{% if page.second %}
			<section>
				<div class="outer">
					<p>{{page.second}}</p>
					<p class="break-box-img">
						<img src="{{page.secondimg}}">
					</p>
				</div>
			</section>
		{% endif %}
	</article>