---
layout: default
---
<section>
	<div class="outer">
		{{ content }}
	</div>
	<div class="outer">
		<strong><a href="/been-making/" title="All of the things">Thing's I've Been Making</a></strong>
		<p>I post some of the things I make from time-to-time . Pretty much everything's from the kitchen: Drinks, food, tinctures and what-not.</p>
		{% include posts.html parent="home" %}
		<!-- <div  class="buttons"> -->
		<a href="/been-making" class="button">See all of the things.</a>
		<!-- </div> -->
	</div>
</section>