---
layout: default
---

<section
  class="flex justify-center items-center h-screen bg-repeat">
  <div
    class=" px-4 pb-24 sm:px-6 lg:px-0 mx-auto prose prose-lg prose-a:decoration-dotted prose-h2:font-normal  prose-h2:text-xl xl:prose-h2:text-2xl prose-h2:!leading-[--golden] ">
    <div class="not-prose">
      <h1
        class="-mb-6 text-4xl tracking-tight sm:text-5xl xl:text-7xl font-display text-lawn-600">Josh
        Reeder-Esparza</h1>
    </div>
    {{ content }}
  </div>
</section>
