---
layout: compress
---
<!DOCTYPE html>
<html>
	{% include head.html %}
	
	<body>
		{% include header.html %}
		<main>
		<section>
			<div class="outer">
				{{ content }}
			</div>
		</section>
		<section>
			<div class="outer">
				<h3>Projects</h3>
				<p>These are a few of the projects I've worked on at Bamboo Creative; most of them were done in tandem with other developers and designers. They've gone through various client interviews, wireframing and sketching, prototyping and usually few rounds of revisions.</p>
			</div>
		</section>
		{% for project in site.project %}
			
			<div class="project-grid">
				<span class="sup-title">Web</span><br>
				<h4 class="color--white font--shadow mar-top--no header">{{project.title}}</h4>
				<p class="content">{{project.intro}}</p>
			</div>
			<div class="project-wrap pad-vert--2">
				<div class="content">
				{% capture marked %}{% include project.md %}{% endcapture %}
				{{ marked | markdownify }}
			</div>
		</div>
		{% if project.offsetimage %}
			{% include offset.html %}
		{% endif %}
		{% if project.second %}
			<div class="project-wrap pad-vert--2">
				<div class="content">
					<p>{{project.second}}</p>
					<p class="break-box-img">
						<img src="{{project.secondimg}}">
					</p>
				</div></div>
			{% endif %}
			<div class="project-wrap pad-vert--2">
				<div class="content">
					<strong>Features</strong>
					<ul>
						{% for feature in project.features %}<li>{{ feature }}</li>{% endfor %}
					</ul>
				</div>
			</div>
			
		{% endfor %}
		</main>
		{% include footer.html %}
	</body>
</html>