---
layout: default
---

<section
	class="prose-a:text-olive-600 hover:prose-a:decoration-olive-600 mx-auto px-4 py-24 prose prose-lg sm:px-6 prose-h2:leading-snug prose-a:decoration-transparent prose-a:transition-colors prose-a:duration-100 prose-a:ease-easy hover:prose-a:decoration-solid active:prose-a:decoration-transparent [&>p]:text-balance">
	{% if page.hidemeta == true %}
	{% else %}
	<h1>{{page.title}}</h1>
	<h5><time titemprop="datePublished">{{ page.date | date: "%b %-d, %Y"
			}}</time><span class="emoji-tags">{{page.tags}}</span></h5>
	{% endif %}
	{{ content }}
</section>
