---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	
	<body>
		{% if page.hidemeta != true %}{% include header.html %}{% endif %}
		<main>
			<article>
				<section>
					{% if page.hidemeta == true %}
					{% else %}
						<h1>{{page.title}}</h1>
						<h5><time titemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time><span class="emoji-tags">{{page.tags}}</span></h5>
					{% endif %}
					{{ content }}
				</section>
			</article>
		</main>
		{% include footer.html %}
	</body>
</html>