.buttons {
    a {
        @include st-button(map-get($pink, main), white, solid);

        &:nth-of-type(2n) {
            @include st-button(map-get($pink, main), white, transparent);
        }
    }

    @include media($screen-sm-max) {
        width: 100%;

        @include row;

        @include pad(0);

        text-align: center;

        a {
            @include span-columns(6 of 12);
        }
    }
}

div.buttons {
    display: table;
    margin: 0 auto;

    @include media($screen-sm-max) {
        @include pad(2em 1em);
    }
}

.button {
    display: inline-block;
    border: 1px solid $second-accent;
    border-radius: 5em;
    padding: 1em;
    transition: all .2s ease-in-out;

    &:hover {
        color: white;
        transition: all .2s ease-in-out;
        background: linear-gradient(45deg, $second-accent, lighten($dark-large, 10%));
    }
}