.font--ups {
    text-transform: uppercase;
}

.font--caps {
    text-transform: capitalize;
}

.font--center {
    text-align: center;
}

.font--bold {
    font-weight: 900;
}

.font--right {
    text-align: right;
}