.font--ups {
    text-transform: uppercase;
}

.font--caps {
    text-transform: capitalize;
}

.font--center {
    text-align: center;
}

.font--bold {
    font-weight: 600;
}

.font--right {
    text-align: right;
}

.font--shadow {
    text-shadow: $base-text-shadow;
}
.font--no-deco{
	text-decoration: none;
}