.font--ups {
    text-transform: uppercase;
}

.font--caps {
    text-transform: capitalize;
}

.font--center {
    text-align: center;
}

.font--bold {
    font-weight: 900;
}

.font--right {
    text-align: right;
}

.font--shadow {
    text-shadow: 0 1px 4px rgba(26, 36, 50, 0.3);
}
.font--no-deco{
	text-decoration: none;
}