.episode {
    position: relative;
    height: 0;
    padding-bottom: 17.55%;
    padding-top: 25px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}