.mar-no 		{margin:0;}
.mar-top--half 	{margin-top:.5em;}
.mar-top--1 	{margin-top:1em;}
.mar-top--2 	{margin-top:2em;}
.mar-top--3 	{margin-top:3em;}
.mar-top--4 	{margin-top:4em;}

.mar-top-neg--1 {margin-top:-1em;}
.mar-top-desk--neg-1{@include media($screen-md) {margin-top:-1em;}}
.mar-bot--half 	{margin-bottom:.5em;}
.mar-bot--1 	{margin-bottom:1em;}
.mar-bot--2 	{margin-bottom:2em;}
.mar-bot--3 	{margin-bottom:3em;}
.mar-bot--4 	{margin-bottom:4em;}


.mar-top-desk--1 	{@include media($screen-md) {margin-top:1em;}}
.mar-top-desk--2 	{@include media($screen-md) {margin-top:2em;}}
.mar-top-desk--3 	{@include media($screen-md) {margin-top:3em;}}
.mar-top-desk--4 	{@include media($screen-md) {margin-top:4em;}}
.mar-bot-desk--1 	{@include media($screen-md) {margin-bottom:1em;}}
.mar-bot-desk--2 	{@include media($screen-md) {margin-bottom:2em;}}
.mar-bot-desk--3 	{@include media($screen-md) {margin-bottom:3em;}}
.mar-bot-desk--4 	{@include media($screen-md) {margin-bottom:4em;}}


.mar-top-mob--1 	{@include media($screen-sm-max) {margin-top:1em;}}
.mar-top-mob--2 	{@include media($screen-sm-max) {margin-top:2em;}}
.mar-top-mob--3 	{@include media($screen-sm-max) {margin-top:3em;}}
.mar-top-mob--4 	{@include media($screen-sm-max) {margin-top:4em;}}
.mar-bot-mob--1 	{@include media($screen-sm-max) {margin-bottom:1em;}}
.mar-bot-mob--2 	{@include media($screen-sm-max) {margin-bottom:2em;}}
.mar-bot-mob--3 	{@include media($screen-sm-max) {margin-bottom:3em;}}
.mar-bot-mob--4 	{@include media($screen-sm-max) {margin-bottom:4em;}}